<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mass Shooting Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Mass Shootings in America
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Repository</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2>Contributors</h2>
        <hr />
        <div class="team-area sp">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                  <div class="team-img">
                    <a href="https://www.linkedin.com/in/jack-cohen-6b573213a/">
                      <img src="https://www.bootdey.com/img/Content/avatar/avatar6.png" alt="Jack Cohen Photo">
                    </a>
                  </div>
                  <div class="team-content">
                    <h4>Jack Cohen</h4>
                    <h5>Data Analyst</h5>
                    <div class="team-social">
                      <a href="https://github.com/jackatopolis" class="fa fa-github"></a>
                      <a href="https://www.linkedin.com/in/jack-cohen-6b573213a/" class="fa fa-linkedin"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                  <div class="team-img">
                    <a href="https://www.linkedin.com/in/john-clos-7a41671/">
                      <img src="https://www.bootdey.com/img/Content/avatar/avatar1.png" alt="John Clos Photo">
                    </a>
                  </div>
                  <div class="team-content">
                    <h4>John Clos</h4>
                    <h5>Data Analyst</h5>
                    <div class="team-social">
                      <a href="https://github.com/johnclos" class="fa fa-github"></a>
                      <a href="https://www.linkedin.com/in/john-clos-7a41671/" class="fa fa-linkedin"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                  <div class="team-img">
                    <a href="https://www.linkedin.com/in/uchenna-nwagbara-83b613172/">
                      <img src="https://www.bootdey.com/img/Content/avatar/avatar2.png" alt="Uchenna Nwagbara Photo">
                    </a>
                  </div>
                  <div class="team-content">
                    <h4>Uchenna Nwagbara</h4>
                    <h5>Data Analyst</h5>
                    <div class="team-social">
                      <a href="https://github.com/uchenna23" class="fa fa-github"></a>
                      <a href="https://www.linkedin.com/in/uchenna-nwagbara-83b613172/" class="fa fa-linkedin"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                  <div class="team-img">
                    <a href="https://www.linkedin.com/in/sharon-colson/">
                      <img src="https://www.bootdey.com/img/Content/avatar/avatar8.png" alt="Sharon Colson Photo">
                    </a>
                  </div>
                  <div class="team-content">
                    <h4>Sharon Colson</h4>
                    <h5>Data Analyst</h5>
                    <div class="team-social">
                      <a href="https://github.com/SColson82" class="fa fa-github"></a>
                      <a href="https://www.linkedin.com/in/sharon-colson/" class="fa fa-linkedin"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>